/**/

/*region 简易QQ*/

/*region 老师的*/

* {
    margin: 0;
    padding: 0;
    line-height: 22px;
    font-family: "Arial", "微软雅黑";
}

#chat {
    margin: 3px auto 0 auto;
    width: 436px;
    border: 1px #999999 solid;
}

.chatBody {
    width: 100%;
    height: 220px;
    overflow: auto;
}

.chatText {
    border: none;
    width: 100%;
    height: 50px;
}

.btn {
    text-align: right;
}

.btn span {
    display: inline-block;
    padding: 0 10px;
    height: 25px;
    overflow: hidden;
    color: #ffffff;
    border-radius: 5px;
    background-color: #069dd5;
    font-size: 12px;
    margin-right: 3px;
    cursor: pointer;
}

/*endregion*/

/*region 设定的*/
/*设置输入框字体大小*/
.chatText {
    font-size: 20px;
}

/*设置原型*/
.prototype {
    margin-bottom: 10px;
    display: none;
}

.prototype img, .prototype > div {
    display: inline-block;
}

.prototype img {
    height: 40px;
    float: left;
    margin-right: 10px;
}

.prototype > div {
    width: 350px;
    background-color: #069dd5;
    border-radius: 5px;
    padding-left: 10px;
    min-height: 50px;
    /*强制换行*/
    word-break: break-all;
}

/*endregion*/

/*endregion*/

/*region 拨动开关*/

/*拨动按钮整体*/
.switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
}

/*默认隐藏复选框*/
.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ccc;
    transition: 0.4s;
}

/*在后面追加按钮*/
.slider:before {

}

/*endregion*/

/*region 弹性盒子布局(垂直)*/

.flex-container-03 {
    display: inline-flex;
    /*设置垂直方向排列(如果没有这个就会变成水平排列而却在垂直方向上居中)*/
    flex-direction: column;
    /*设置水平居中(如果没有这个就无法水平居中)*/
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: silver;
    margin: 10px;
}

.flex-item-03 {
    background-color: deepskyblue;
    width: 100px;
    height: 100px;
    margin: 5px;
}

/*endregion*/

/*region 弹性盒子布局(水平-02)*/

/*整体布局*/
.flex-container-02 {
    display: inline-flex;
    justify-content: center;
    width: 400px;
    height: 400px;
    background-color: silver;
    margin: 10px;
}

/*小盒子的通用属性*/
.flex-item-02 {
    background-color: deepskyblue;
    width: 90px;
    margin: 5px;
}

/*然而,如果我们有时候需要将某个或某几个元素分至两边*/
.flex-item-02:last-child {
    /*这实在是一种很常见的场景,比如说你需要将四个元素分布在左边,剩余的元素分布在右边(帮助)*/
    margin-left: auto;
}

/*endregion*/

/*region 弹性盒子布局(水平)*/

/*大盒子整体*/
.flex-container {
    display: inline-flex;
    width: 400px;
    height: 400px;
    background-color: Silver;
    margin: 10px;
}

/*小盒子通用属性*/
.flex-item {
    background-color: DeepSkyBlue;
    margin: 5px;
}

/*每个盒子占有的宽度比例*/
.item1 {
    /*我们可以设置小盒子的宽度比例(标准为 1 )*/
    flex: 2;
}

.item2 {
    flex: 1;
}

.item3 {
    flex: 1;
}

/*endregion*/

/*region toggle 事件*/

/*内容*/
.toggle-content-02 {
    width: 200px;
    height: 200px;
    background-color: grey;
    cursor: pointer;
    margin: auto;
}

/*按钮*/
.toggle-btn {
    display: block;
    margin: auto;
}

/*endregion*/

/*region 动画搜索表单*/
/*设置搜索框的属性*/
.animate-search {
    width: 300px;
    font-size: 30px;
    transition: width 0.4s ease-in-out;
}

/*获得焦点后宽度最大化*/
.animate-search:focus {
    width: 100%;
}

/*endregion*/

/*region 3D 翻滚效果*/

/*设置要翻滚的 div*/
.roll-animate {
    width: 200px;
    height: 50px;
    background-color: darkcyan;
    margin: 100px auto;
    cursor: pointer;
    transition: 1s;
}

/*鼠标悬浮时开始翻滚特效*/
.roll-animate:hover {
    /*transform: rotateX(360deg);*/
    animation: roll 1s;
}

@keyframes roll {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(360deg);
    }
}

/*endregion*/

/*region 回到顶部*/

/*设置回到顶部按钮*/
img.backToTop {
    position: fixed;
    right: 100px;
    bottom: 100px;
    cursor: pointer;
    transition: 0.5s;
}

img.backToTop:hover {
    transform: scale(1.5);
}

/*endregion*/

/*region 分页*/

/*下面的分页 ul */
ul.pagination {
    display: flex;
    justify-content: center;
}

/*设置每个单独的按钮*/
ul.pagination li a {
    /*此处存在分歧点,既可以使用 justify-content,也可以使用 display 来处理,不过还是建议使用前者,因为可以"一步到位"!*/
    /*display: inline-block;*/
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #f1f1f1;
    transition: 0.5s;
}

/*设置鼠标悬浮时,鼠标点击后的样式*/
ul.pagination li a:hover, ul.pagination li a.active03 {
    color: white;
    background-color: darkcyan;
}

/*设置内容*/
/*外壳,几乎无关*/
.pagination-content {
    width: 1000px;
    margin: auto auto 10px auto;
}

/*设置 li 的属性(重要!!!)*/
.pagination-content li {
    display: none;
    line-height: 200px;
    font-size: 100px;
    text-align: center;
    background-color: darkgoldenrod;
}

/*设置与初始页面*/
.pagination-content li:nth-child(3) {
    display: block;
}

/*endregion*/

/*region 联系芯片*/
.chip {
    padding: 0 25px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
    width: 200px;
    margin: auto;
}

/*设定图像*/
.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/*设定关闭按钮*/
.close-btn {
    padding-left: 10px;
    color: grey;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    float: right;
    transition: 0.5s;
}

.close-btn:hover {
    color: black;
}

/*endregion*/

/*region 动画菜单图标*/

/*设置内容居中*/
.animated-menu-icon {
    cursor: pointer;
    margin: auto;
}

/*设置图标的构成元素*/
.animated-menu-icon div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px auto;
    transition: 0.4s;
}

/*设置三个构成元素的变化*/
.change.bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change.bar2 {
    opacity: 0;
}

.change.bar3 {
    transform: rotate(45deg) translate(-9px, -6px);
}

/*endregion*/

/*region jQuery 拖动*/

/**{margin:0;padding:0;}*/
/*li{list-style:none outside none;}*/
/*body{background:url(../images/rbg.jpg) repeat scroll 0 0 #aaa;font-family:"宋体";padding:50px 0 300px;}*/

.box {
    width: 1000px;
    margin: 0 auto 20px;
    height: 500px;
    background: #3bb3e0;
    border: 5px solid #2561b4;
}

p {
    font-size: 20px;
    color: #333;
    text-align: center;
    margin: 0 0 20px;
}

.box.box-1 {
    height: 200px
}

.box-1 dl {
    top: 25px;
}

.box.box-2 {
    height: 500px
}

.box-2 dl {
    left: 50%;
    margin-left: -75px;
}

i.hander {
    display: block;
    width: 100%;
    height: 25px;
    background: #ccc;
    text-align: center;
    font-size: 12px;
    color: #333;
    line-height: 25px;
    font-style: normal;
}

.border-1 {
    border: 10px solid #2561b4;
}

.border-2 {
    border: 10px solid yellow;
}

input, textarea {
    width: 150px;
    display: block;
    margin: 5px 0;
    border: 2px solid #333;
    background: #ccc;
}

.testSize {
    padding: 10px;
    background: #2561b4;
}

/*endregion*/

/*region form 表单*/

/*设置表单整体*/
.form {
    margin: auto;
    max-width: 1000px;
}

/*设置输入框的属性*/
.form input[type='text'],
.form input[type='password'] {
    font-size: 20px;
    line-height: 40px;
    width: 300px;
    transition: 0.5s;
}

.form input[type='text']:focus,
.form input[type='password']:focus {
    box-shadow: 0 0 5px 0 blue;
}

/*设置非法警告*/
.form span {
    color: red;
    display: inline-block;
    margin-left: 20px;
}

/*设置div*/
.form div:nth-child(2),
.form div:nth-child(3) {
    margin: 10px auto;
}

/*设置登录按钮*/
.form input[type='submit'] {
    font-size: 20px;
    line-height: 40px;
    border: none;
    border-radius: 3px;
    width: 315px;
    background-color: orangered;
    color: white;
    transition: 0.5s;
}

.form input[type='submit']:hover {
    box-shadow: 0 0 5px 0 grey;
    background-color: darkred;
    cursor: pointer;
}

/*endregion*/

/*region jQuery 过滤*/
.filter {
    border: solid 3px orangered;
    width: 300px;
    margin: auto;
    font-size: 20px;
    line-height: 30px;
}

/*endregion*/

/*region 装载机*/

/*使用 css3 动画实现*/
.loader {
    display: block;
    /*设置装载机转圈的背景（如果四个边框都设置了就不需要了）*/
    /*border: 16px solid #f3f3f3;*/
    /*设置上*/
    border-top: 16px solid darkcyan;
    border-bottom: 16px solid orange;
    border-left: 16px solid darkred;
    border-right: 16px solid black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/*css3 动画*/
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*使用 jQuery 实现*/
.loader-jQuery {
    display: block;
    /*设置装载机转圈的背景（如果四个边框都设置了就不需要了）*/
    /*border: 16px solid #f3f3f3;*/
    /*设置上*/
    border-top: 100px solid darkcyan;
    border-bottom: 100px solid orange;
    border-left: 100px solid darkred;
    border-right: 100px solid black;
    width: 0;
    height: 0;
    border-radius: 50%;
}

/*endregion*/

/*region 下拉菜单*/

/*整体布局*/
.drop-down {
    width: 800px;
    max-height: 50px;
    margin: auto;
}

/*设置按钮（无关）*/
.drop-btn {
    width: 100px;
    text-align: center;
    padding: 5px 10px;
    background-color: aqua;
}

/*设置下拉菜单的内容*/
.drop-down-content {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    display: none;
}

/*设置下拉菜单内容 li 的属性*/
.drop-down-content li a {
    display: block;
    width: 100px;
    height: 20px;
    line-height: 20px;
    padding: 5px 10px;
    z-index: 1;
    transition: 1s;
}

.drop-down-content li:hover a {
    background-color: darkcyan;
    color: white;
}

/*endregion*/

/*region 进度条*/
/*外层的盒子*/
.my-progress {
    max-width: 1000px;
    height: 30px;
    background-color: grey;
}

/*进度条*/
.my-bar {
    width: 0;
    height: 100%;
    background-color: darkcyan;
    text-align: center;
    animation: progress-bar 10s;
}

/*endregion*/

/*region 模态图片（模式化窗口打开图片）*/

/*设置小图的属性*/
.modal-img {
    width: 300px;
    display: block;
    cursor: pointer;
    border-radius: 5px;
    margin: auto;
    transition: 0.3s;
}

/*鼠标悬浮时小图的效果*/
.modal-img:hover {
    opacity: 0.7;
}

/*设置模态盒的内容*/
.modal-02 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

/*模态盒的内容*/
.modal-content-02 {
    display: block;
    margin: auto;
    width: 80%;
    animation: zoom 1s;
    box-shadow: 0 0 10px;
}

/*下方的文字信息*/
.caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/*设置图片和文字都使用逐渐变大动画*/
.modal-content-02, .caption {
    animation: zoom 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1);
    }
}

/*关闭按钮*/
.close-02 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close-02:hover {
    color: #bbb;
    transform: scale(1.5);
}

/*endregion*/

/*region 响应表格（自适应表格）*/
/*使用自定义边框替换表格默认的边框（丑哭了）*/
.table-auto {
    /*关键就是这句话，可依然表格的宽度自动伸缩*/
    overflow-x: auto;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: solid 1px #ddd;
}

/*设置单元格*/
.table-auto th, .table-auto td {
    border: none;
    text-align: left;
    padding: 8px;
}

/*设置隔行变色*/
.table-auto tr:nth-child(even) {
    background-color: #eee;
}

/*endregion*/

/*region 模态盒（模式对话框）*/

/*设置一下按钮*/
.modal-btn {
    margin-left: 45%;
    padding: 5px 10px;
    border: none;
    background-color: darkcyan;
    color: white;
    transition: 0.5s;
}

/*鼠标悬浮时按钮的特效*/
.modal-btn:hover {
    cursor: pointer;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*设置模态盒*/
.modal {
    position: fixed;
    /*设置 top 为 0 是为了从最上面开始计算高度（宽度同理）*/
    top: 0;
    left: 0;
    z-index: 1;
    /* 宽高最大化（防止点击其他的东西） */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

/*设置内层的盒子*/
.modal-content {
    position: relative;
    max-width: 1000px;
    /*设置盒子的阴影（立体感）*/
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*设置模态盒的位置*/
    margin: auto;
}

/*模态盒的头部*/
.modal-header, .modal-footer {
    background-color: darkcyan;
    color: white;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
}

/*头部私有属性*/
.modal-header {
    display: flex;
    justify-content: space-between;
    font-size: 26px;
}

/*模态盒的主体部分*/
.modal-body {
    /*height: 100px;*/
    line-height: 30px;
    background-color: white;
    padding: 0 10px;
}

/*设置关闭按钮*/
.close {
    cursor: pointer;
    transition: 1s;
}

.close:hover {
    color: black;
    transform: scale(1.5);
}

/*endregion*/

/*region 标签页*/
/*整体布局*/
.my-tabs {
    width: 400px;
    margin: auto;
}

.tabs {
    display: flex;
    justify-content: flex-start;
    background-color: #f1f1f1;
}

/*每个标签页的宽度*/
.tabs li {
    padding: 10px 20px;
    text-align: center;
    transition: all 1s;
    cursor: pointer;
}

/*当鼠标悬浮时 就是 js 要添加的 class */
.tabsHover {
    /*background-color: #ddd;*/
    background-color: black;
    color: white;
}

/*设置固定高度并隐藏溢出的内容*/
.tabs-content {
    height: 70px;
    overflow: hidden;
}

.tabs-content li {
    padding: 6px 12px;
    border: solid 1px #ccc;
}

/*endregion*/

/*region 手风琴*/

/*整体效果*/
.my-accordions {
    width: 500px;
    height: 265px;
    margin: auto;
    /*border: solid 1px grey;*/
}

/*设置按钮的属性*/
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.5s;
}

/*鼠标悬浮或者点击时修改按钮的背景颜色*/
button.accordion:active, button.accordion:hover {
    background-color: #ddd;
}

/*具体的内容默认隐藏*/
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

.my-accordions li:first-child .panel {
    display: block;
}

/*追加内容*/
.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

/*追加符号*/
.active01:after {
    content: "\2795";
}

.active02:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/*endregion*/

/*region 幻灯片（背景图片的实现）*/

/*a 标签的布局*/
.slide-show-container-02 {
    display: block;
    width: 1000px;
    height: 350px;
    margin: auto;
    background: url("../images/img_fjords_wide.jpg") no-repeat;
}

/*鼠标悬浮时,整体的模糊动画效果*/
.slide-show-container-02:hover {
    cursor: pointer;
}

/*设置当鼠标悬浮时上一个，下一个的图标浮现出来*/
.slide-show-container-02:hover .plusSlides a {
    display: block;
}

/*左上角的图片是第几次*/
.number-text-02 {
    height: 20px;
    line-height: 20px;
    padding: 5px 10px;
    color: white;
}

/*中间的 上一个，下一个 按钮*/
.plusSlides {
    display: flex;
    justify-content: space-between;
    height: 81%;
}

.plusSlides a {
    cursor: pointer;
    color: white;
    margin: auto 0;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    transition: 0.5s ease;
}

.plusSlides a:hover {
    background: rgba(0, 0, 0, 0.8);
    color: orangered;
}

/*下面的圆点*/
.dots-02 {
    width: 100px;
    margin: auto;

}

.dots-02 span {
    cursor: pointer;
    width: 13px;
    height: 13px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.dots-02 span:first-child, .dots-02 span:hover {
    background-color: #717171;
}

/*endregion*/

/*region 幻灯片*/

/*幻灯片容器*/
.slide-show-container {
    max-width: 1000px;
    /*之所以要设置成相对定位是因为需要将子元素包裹进去*/
    position: relative;
    margin: auto;
    transition: 1s ease;
}

.slide-show-container:hover .prev,
.slide-show-container:hover .next {
    display: block;
    background: rgba(0, 0, 0, 0.3);
}

/*设置默认隐藏以及第一个显示*/
.my-slides {
    display: none;
}

.my-slides:first-child {
    display: block;
}

/*上一个，下一个 按钮*/
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    color: white;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 3px;
    display: none;
    transition: 1s ease;
}

.next {
    right: 0;
}

/*设置鼠标悬浮时左移和右移的效果*/
.slide-show-container .prev:hover, .slide-show-container .next:hover {
    background: rgba(0, 0, 0, 0.8);
}

/*设置左上角的数字*/
.number-text {
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/*设置下面的跳转圆点*/
.dots {
    position: absolute;
    top: 90%;
    left: 50%;
    margin-left: -80px;
}

.dots span {
    cursor: pointer;
    width: 13px;
    height: 13px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1s ease;
}

.dots span:first-child, .dots span:hover {
    background-color: #717171;
}

/*图片出现时的模糊动画效果*/
.fade {
    animation: fade 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/*endregion*/

/*region 顶部导航栏*/

.nav-top {
    border-bottom: solid 2px orangered;
}

/*设置水平对齐方式*/
.nav-top ul {
    display: flex;
    justify-content: center;
}

/*设置 ul 中的文字大小*/
.nav-top ul {
    font-size: 18px;
}

/*设置 a 标签的大小*/
.nav-top ul li a {
    display: block;
    padding: 10px 20px;
    text-align: center;
}

/*设置 a 标签的悬浮时改变背景色和颜色*/
.nav-top ul li a:hover {
    background-color: orangered;
    color: white;
    transition: all 1s;
}

/*endregion*/

/*region 通用*/

/*为了浏览器的兼容，还是删除所有默认的内外边距吧*/
* {
    margin: 0;
    padding: 0;
}

/*使用无序列表一般不需要前面的符号*/
li {
    list-style-type: none;
}

/*a 标签默认的下划线是不需要的*/
a {
    text-decoration: none;
}

/*一般而言链接在鼠标悬浮时会变成红色*/
a:hover {
    /*color: orangered;*/
}

/*一般而言 body（即网页整体） 需要居中显示*/
body {
    margin: 0 auto;
    /*强制换行(包括单词)*/
    /*word-break: break-all;*/
}

/*endregion*/
