/*region 通用*/

/*为了浏览器的兼容，还是删除所有默认的内外边距吧*/
* {
    margin: 0;
    padding: 0;
}

/*使用无序列表一般不需要前面的符号*/
li {
    list-style-type: none;
}

/*a 标签默认的下划线是不需要的*/
a {
    text-decoration: none;
}

/*一般而言链接在鼠标悬浮时会变成红色*/
a:hover {
    color: red;
}

/*一般而言 body（即网页整体） 需要居中显示*/
body {
    margin: 0 auto;
}

small {
    color: grey;
}

/*endregion*/

/*region header 头部*/

header {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 20px auto;
}

header > ul {
    display: flex;
    justify-content: space-between;
}

/*设置间隔距离*/
header > ul > li {
    margin-left: 20px;
}

/*设置图片垂直居中对齐*/
.help-dropdown-menu img {
    vertical-align: middle;
}

/*设置下拉菜单的固定宽度防止将其他区块挤走*/
header > ul > li:last-child {
    width: 120px;
}

/*设置默认隐藏*/
.help-dropdown-menu ul {
    display: none;
    position: absolute;
    text-indent: 1em;
}

.help-dropdown-menu ul li {
    padding-top: 5px;
}

/*鼠标悬浮特效*/
.help-dropdown-menu:hover ul {
    position: absolute;
    transition: all 300ms;
}

/*endregion*/

/*region section 中部*/

/*region 最外面的布局*/
section {
    display: flex;
    justify-content: center;
}

#login-pc {
    width: 400px;
    background-color: white;
    margin-left: 100px;
}

#login-pc > * {
    width: 330px;
    margin: auto;
}

/*endregion*/

/*标题*/
#login-title {
    display: flex;
    justify-content: space-between;
}

section > div:first-child a img {
    width: 100%;
}

/*region form 登录表单*/

#login-pc form > input {
    display: block;
    width: 330px;
    height: 50px;
    margin: 10px auto;
    border-radius: 2px;
    border: solid 1px grey;
}

#login-pc form > input[type="text"], #login-pc form > input[type="password"] {
    text-indent: 2em;
}

#login-pc form > input[type="text"] {
    background: url("../images/userHead.png") no-repeat 5px;
}

#login-pc form > input[type="password"] {
    background: url("../images/lock.png") no-repeat 5px;
}

/*登录按钮*/
#login-pc form > input[type="submit"] {
    background-color: red;
    color: white;
}

#login-pc form > input[type="submit"]:hover {
    cursor: pointer;
}

#login-pc form > div {
    display: flex;
    justify-content: space-between;
}

#login-pc form > div label * {
    margin: auto;
}

/*控制自动登录的按钮未勾选时提示隐藏*/
.help-warning {
    color: red;
    display: none;
}

/*endregion*/

/*region 更多合作网站账号登录*/
.joint_landing_wrap {
    display: flex;
    justify-content: space-between;
}

.joint_landing_wrap .unfold:hover {
    cursor: pointer;
}

#hiddenContent {
    display: none;
}

#hiddenContent table tr td {
    width: 25%;
}

/*endregion*/

/*endregion*/

/*region footer 版权部分*/
footer div {
    margin: 20px auto;
    text-align: center;
}

/*endregion*/